.latest-articles {
    margin-bottom: 115px;
}

.latest-articles__container {}

.latest-articles__title {}

.latest-articles__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 455px);
    grid-gap: 22px 26px;
}

.latest-articles__item {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    display: flex;
    align-items: flex-end;
    padding: 0px 35px 30px 44px;
}

.latest-articles__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.latest-articles__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.latest-articles__content {
    position: relative;
}

.latest-articles__head {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.latest-articles__label {
    background: #F8FAFB;
    border-radius: 3px;
    display: flex;
    align-items: center;
    padding: 5px 10px;
}

.latest-articles__icon {
    width: 15px;
    height: 15px;
    object-fit: contain;
}

.latest-articles__label-text {
    font-family: 'DM Sans';
    font-weight: 500;
    font-size: 12px;
    line-height: 1;
    text-align: center;
    letter-spacing: 0.008em;
    text-transform: uppercase;
    color: #7AC751;
    margin-right: 5px;
    margin-left: 5px;
}

.latest-articles__date {
    font-family: 'Mulish';
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0.008em;
    color: #FFFFFF;
    margin-left: 5px;
}

.latest-articles__item-title {
    font-family: 'Mulish';
    font-weight: 700;
    font-size: 39px;
    line-height: 120%;
    letter-spacing: 0.005em;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.latest-articles__link {
    font-family: 'DM Sans';
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0.008em;
    color: #FFFFFF;
}